*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: #7091e6;
    overflow-x: hidden;
}
section {
    min-height: 70vh;
    padding: 0.5rem;
}
.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 10rem;
}

.home div{
    border-radius: 0.65rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.685);
}
.home div h1{
    font-size: 5rem;
    Padding-top: 1.2rem;
    margin-bottom: 0.6rem;
    color: #190097;
}
.home div h1 span {
    color: #190097;
}
.home div p {
    font-size: 2rem;
    color: #190097;
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
}


@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    body {
        padding: 0;
    }
}

@media(max-width:768px) {
    html {
        font-size: 50%;
    }
}

